.wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100%;
}

// info
.information {
    background-color: var(--white);
}

// nav
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.tablist {
    display: flex;
}

.item {
    padding: 10px 0px 10px 0;
}

.item-link {
    color: #4d4d4d;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 3px solid #ebebeb;
}

.nav-active {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.nav-line {
    height: 1px;
    background-color: #ccc;
}

// booking
.booking {
    width: var(--default-layout-with);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

// Order
.order {
    flex: 2;
}

.order-ctn {
    background-color: var(--white);
    margin: 0 20px 30px 20px;
    border-radius: 4px;
    box-shadow: 0 0.225rem 0.25rem rgba(0, 0, 0, 0.075);
}

.order-place {
    width: 835px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-place {
    margin-left: 20px;
    font-weight: 700;
    font-size: large;
}

.btn-hide {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: var(--primary);
    color: var(--white);
}

.btn-show {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    color: var(--primary);
    margin-right: 20px;
}

.title-content {
    margin: 0 20px;
    height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.title-content.visible {
    height: 100%;
    opacity: 1;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.btn-hide.hidden,
.btn-show.hidden {
    display: none;
}

.place {
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 3px;
    padding: 8px 14px;
    margin-bottom: 20px;
}

//Order detail thong tin booking
.order-detail {
    flex: 1;
    height: 100%;
}

.detail-ctn {
    width: 450px;
    background-color: var(--white);
    border-radius: 5px;
    padding-bottom: 20px;
}

.bgr-order {
    padding: 20px;
}

.order-img {
    display: flex;
}

.order-detail-img {
    width: 120px;
    height: 170px;
    border-radius: 3px;
    object-fit: cover;
}

.movie-booking {
    margin-left: 10px;
}

.name-movie {
    font-weight: 700;
    color: #4d4d4d;
}

.movie-info {
    margin-top: 10px;
    font-size: 14px;
}

.movie-age {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 3px;
    color: var(--white);
    padding: 2px;
}

.order-cinema {
    margin-top: 20px;
    font-weight: 600;
    color: #4d4d4d;
}

.order-time {
    margin-top: 5px;
    color: #4d4d4d;
    font-size: 15px;
}

.line {
    height: 0.05em;
    background-color: #ccc;
    width: 100%;
    margin: 15px 0;
}

.order-seat {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #4d4d4d;
}

.order-food {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #4d4d4d;
}

.order-total {
    display: flex;
    justify-content: space-between;
}

.total-name {
    font-weight: 700;
    color: #4d4d4d;
}

.total-price {
    color: var(--primary);
}

.order-btn {
    display: flex;
    justify-content: end;
    margin: 0 20px;
}
