.wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

// info
.information {
    background-color: var(--white);
}

// nav
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.tablist {
    display: flex;
}

.item {
    padding: 10px 0px 10px 0;
}

.item-link {
    color: #939393;
    font-weight: 500;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 3px solid #ebebeb;
}

.nav-active {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.nav-active-before {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    color: #df729d;
}

.item-link.faded {
    opacity: 0.5;
    font-weight: normal;
}

.nav-line {
    height: 1px;
    background-color: #ccc;
}

.booking {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

// Order
.order {
    flex: 2;
}

//Order detail thong tin booking
.order-detail {
    flex: 1;
    height: 100%;
}

.detail-ctn {
    margin-left: 20px;
    width: 440px;
    background-color: var(--white);
    border-radius: 5px;
    padding-bottom: 20px;
}

.bgr-order {
    padding: 20px;
}

.order-img {
    display: flex;
}

.order-detail-img {
    width: 120px;
    height: 170px;
    border-radius: 3px;
    object-fit: cover;
}

.movie-booking {
    margin-left: 10px;
}

.name-movie {
    font-weight: 700;
    color: #4d4d4d;
}

.movie-info {
    margin-top: 10px;
    font-size: 14px;
}

.movie-age {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 3px;
    color: var(--white);
    padding: 2px;
}

.order-cinema {
    margin-top: 20px;
    font-weight: 600;
    color: #4d4d4d;
}

.order-time {
    margin-top: 5px;
    color: #4d4d4d;
    font-size: 15px;
}

.line {
    height: 0.05em;
    background-color: #ccc;
    width: 100%;
    margin: 15px 0;
}

.order-seat {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #4d4d4d;
}

.order-food {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #4d4d4d;
}

.order-total {
    display: flex;
    justify-content: space-between;
}

.total-name {
    font-weight: 700;
    color: #4d4d4d;
}

.total-price {
    color: var(--primary);
}

.order-btn {
    display: flex;
    justify-content: end;
    margin: 0 20px;
}
