.wrapper {
    position: relative;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
}

.slides {
    position: relative;
    width: 100%;
    height: auto;
}

.image {
    max-width: 98%;
    max-height: 365px;
    height: auto;
    object-fit: cover;
}

.image-link {
    display: block;
}

.slick-prev,
.slick-next {
    border-radius: 2px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    padding: 10px;
    z-index: 1;
}

.slick-prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    opacity: 0.8;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.slick-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    opacity: 0.8;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

// css chấm tròn
:global {
    .slick-dots {
        max-width: 100px;
        position: absolute;
        bottom: 10px;
        left: 50.5%;
        transform: translateX(-50%);
        display: inline-flex !important;
    }

    .slick-dots li {
        margin: 0 1px;
    }

    .slick-dots li button:before {
        font-size: 10px;
        color: #fff;
        border-radius: 50%;
    }

    .slick-dots li.slick-active button:before {
        color: var(--white);
    }
}

@media only screen and (min-width: 46.1875em) and (max-width: 69em) {
    .image {
        max-width: 100%;
    }
}

@media only screen and (max-width: 46.1875em) {
    .image {
        max-width: 100%;
    }
}

@media only screen and (max-width: 21.875em) {
    .image {
        max-width: 100%;
    }
}
