.nav {
    border-radius: 4px;
    background-color: var(--white);
    height: 50px;
    display: flex;
    align-items: center;
}

.time {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.title-time {
    font-size: 15px;
    font-weight: 600;
    color: #484848;
}

.btn-time {
    margin-left: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #ccc;

    &:hover {
        background-color: var(--primary);
        color: var(--white);
    }
}

.cinema-seat {
    background-color: var(--white);
    margin: 20px 0;
}

.seat-info {
    margin: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.column {
    font-size: 14px;
    color: #535353;
}

.row {
    display: flex;
    align-items: center;
}

.seat {
    font-size: 10px;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #535353;
    cursor: pointer;

    &:hover {
        background-color: var(--primary);
        border: 1px solid var(--primary);
    }
}

.seat.vip {
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover {
        color: #535353;
    }
}

.seat.double {
    width: 44px !important;
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover {
        color: #535353;
    }
}

.seat.active {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

.seat.active_buy {
    background-color: #979797;
    color: var(--white);
    border: 1px solid #979797;
    cursor: auto;
}

.seat.select {
    color: var(--white);
    border: 1px solid rgb(255, 146, 164);
    background-color: rgb(255, 146, 164);
    cursor: auto;
}

.seat-space {
    font-size: 10px;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    background-color: transparent;
}

.screen {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #535353;
}

.line {
    height: 3px;
    background-color: var(--primary);
    margin: 20px 10px;
}

.seat-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ctn-status {
    display: flex;
}

.status {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.status-color {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 3px;
}

.status-color.pink {
    background-color: var(--primary);
}

.status-name {
    color: #626262;
    font-size: 14px;
    margin-left: 5px;
}

.seat-type {
    display: flex;
}

.type {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.type-color {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.type-color.vip {
    border: 1px solid var(--primary);
}

.type-color.double {
    width: 40px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid var(--primary);
}

.type-name {
    color: #626262;
    font-size: 14px;
    margin-left: 5px;
}
