.wrapper {
    margin-top: 30px;
    width: var(--default-layout-gird);
    margin: 30px auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-left: 4px solid var(--primary);
}

.nav-type {
    display: flex;
}

.title {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 600;
}

.nac_item {
    display: flex;
    margin-top: 2px;
    font-weight: 600;
    color: #6b6b6b;
}

.showing {
    margin-left: 30px;
    color: #6b6b6b;
}

.comming {
    margin-left: 30px;
    color: #6b6b6b;
}

.area {
    font-weight: 300;
    margin-left: 30px;
    color: #6b6b6b;
    cursor: pointer;
}

.tab__active {
    position: relative;
    color: var(--primary);

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 1.5px;
        background-color: var(--primary);
    }
}

.dropdown-menu {
    position: relative;
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 13rem;
    padding: 1rem 0;
    margin-top: 0.7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    top: -10px;
    color: rgba(0, 0, 0, 0.721);
    font-size: 1.4rem;
    font-weight: 600;
}

.menu-item {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
        color: var(--primary);
        background-color: rgb(255, 242, 246);
    }
}

.menu-link {
    color: rgba(0, 0, 0, 0.7);
    &.selected {
        color: var(--primary);
        opacity: 0.8;
    }
}

.selected {
    color: var(--primary);
    opacity: 0.8;
}

.ctn-search {
    display: flex;
    margin-bottom: 12px;
}
