.item-link {
    cursor: pointer;
}

.ctn-image {
    position: relative;
    transition: opacity 0.5s ease;
    &:hover {
        .img-hover {
            display: block;
        }
    }
}

.image {
    width: 100%;
    border-radius: 6px;
    border: none;
    height: 435px;
    object-fit: cover;
}

.img-hover {
    position: absolute;
    background-color: rgba(19, 19, 19, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 435px;
    border: none;
    border-radius: 6px;
    display: none;
}

.play {
    position: absolute;
    font-size: 50px;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: #ebebeb;
}

.buy-ticket {
    position: absolute;
    width: 160px;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #b6486f 0%, #c63f6e 59.9%, #ec0f72 99.48%);

    &:hover {
        background: linear-gradient(180deg, #48b686 0%, #3fbbc6 59.9%, #0fcbec 99.48%);
    }
}

.meta {
    margin-top: 15px;
}

.age-limit {
    color: var(--white);
    border-radius: 4px;
    padding: 4px;
    font-size: 13px;
    background: rgb(238, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(238, 0, 0, 1) 0%, rgba(198, 63, 63, 1) 50%, rgba(182, 92, 72, 1) 100%);
    background: -webkit-linear-gradient(
        0deg,
        rgba(238, 0, 0, 1) 0%,
        rgba(198, 63, 63, 1) 50%,
        rgba(182, 92, 72, 1) 100%
    );
    background: linear-gradient(0deg, rgba(238, 0, 0, 1) 0%, rgba(198, 63, 63, 1) 50%, rgba(182, 92, 72, 1) 100%);
}

.format {
    background: rgb(185, 0, 89);
    background: -moz-linear-gradient(0deg, rgb(185, 0, 62) 0%, rgb(238, 75, 116) 50%);
    background: -webkit-linear-gradient(0deg, rgb(235, 25, 109) 0%, rgb(225, 90, 113) 50%);
    background: linear-gradient(0deg, rgb(231, 18, 78) 0%, rgb(250, 110, 126) 50%);
    color: var(--white);
    border-radius: 4px;
    padding: 4px;
    font-size: 13px;
    margin-left: 10px;
}

.title {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1em;
    height: 24px;
    overflow: hidden;
    max-width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tooltip {
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 600;
}

.cats {
    font-size: 0.9em;
    height: 21px;
    overflow: hidden;
    color: var(--black);
    margin-bottom: 10px;
}

.movie-type {
    margin-left: 5px;
    color: var(--primary);
}

// ytb
.trailer-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.trailer-container {
    position: relative;
    width: 90vw;
    max-width: 1080px;
    background: #000;
    border: 8px solid var(--white);
    border-radius: 10px;
    background-color: black;
}

.trailer-container iframe {
    width: 100%;
    height: calc(100vw * 9 / 16);
    max-height: 480px;
}

.close-trailer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: var(--black);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 740px) {
    .margin-rsp {
        margin: 0 50px;
    }

    .trailer-container {
        width: 95vw;
    }

    .trailer-container iframe {
        height: calc(95vw * 9 / 16);
    }
}

@media (max-width: 480px) {
    .trailer-container {
        width: 100vw;
    }

    .trailer-container iframe {
        height: calc(100vw * 9 / 16);
    }

    .close-trailer {
        font-size: 20px;
    }
}
